# Create a file named ".env" in this directory with the following variables.
# If using Docker Compose for development, these values can be used as-is.

# This only needs to be set if the database is different from the one used
# in the Docker Compose environment.
DB_HOSTNAME="hostname:port"

# This root password is only used for instantiating the MySQL container in
# Docker Compose.
DB_ROOT_PASSWORD="password"

DB_DIALECT="mysql"
DB_API="mysqlconnector"
DB_USERNAME="username"
DB_PASSWORD="password"
DB_SCHEMA="schema"